In [1]:
import glob

In [3]:
import yfinance as yf

def download_instrument_2_csv0(symbol):
    """wrapper of yfinance data
    downloads and saves data as a csv file"""
    # default start and end dates
    # TODO - abstract out if needed in the future
    week_start_dates = ['2023-01-02', '2023-01-09', '2023-01-16', '2023-01-23', '2023-01-30']
    week_end_dates = ['2023-01-07', '2023-01-14', '2023-01-21', '2023-01-28', '2023-02-04']
    
    week_count = 1
    for x in range(len(week_start_dates)):
        try:
            print('Trying to download data for: ' + symbol)
            obj0 = yf.Ticker(symbol)
            #print('downloading data for week ' + str(week_count) + ' starting ' + week_start_dates[x] + ' ending ' + week_end_dates[x] )
            d0 = obj0.history(interval='1d', start=week_start_dates[x], end=week_end_dates[x])
            if d0.empty:
                # print('No data downloaded for symbol:' + symbol)
                raise Exception('Symbol is either invalid or delisted')
        except Exception:
                print('No data downloaded for symbol: ' + symbol)
                break
        else:
                print('Successfully downloaded data for: ' + symbol)
                path_string = 'data/week' + str(week_count) + '.csv'
                d0.to_csv(path_string)
                print('Downloaded data saved as: ' + path_string)
                week_count = week_count + 1
    return

In [5]:
download_instrument_2_csv0('SPGP.L')

Trying to download data for: SPGP.L
Successfully downloaded data for: SPGP.L
Downloaded data saved as: data/week1.csv
Trying to download data for: SPGP.L
Successfully downloaded data for: SPGP.L
Downloaded data saved as: data/week2.csv
Trying to download data for: SPGP.L
Successfully downloaded data for: SPGP.L
Downloaded data saved as: data/week3.csv
Trying to download data for: SPGP.L
Successfully downloaded data for: SPGP.L
Downloaded data saved as: data/week4.csv
Trying to download data for: SPGP.L
Successfully downloaded data for: SPGP.L
Downloaded data saved as: data/week5.csv

In [12]:
symbol = 'SPGP.L'
obj0 = yf.Ticker(symbol)
try:
    print('trying to download data')
    d0 = obj0.history(interval='1d', start=week_start_dates[x], end=week_end_dates[x])
    if d0.empty:
        print('No data downloaded for symbol:' + symbol)
        raise Exception('Symbol is either invalid or delisted')
except Exception:
    print('No data can be downloaded')
else:
    print('Successfully downloaded data for: ' + symbol)

trying to download data
No data can be downloaded

In [13]:
week_start_dates = ['2023-01-02', '2023-01-09', '2023-01-16', '2023-01-23', '2023-01-30']
week_end_dates = ['2023-01-07', '2023-01-14', '2023-01-21', '2023-01-28', '2023-02-04']

In [14]:
data = obj0.history(interval='1d', start='2023-01-02', end='2023-01-07')
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2023-01-03 00:00:00+00:00,1073.0,1084.905029,1064.000000,1066.5,85016,0.0,0.0,0.0
2023-01-04 00:00:00+00:00,1094.0,1124.500000,1093.000000,1117.0,52037,0.0,0.0,0.0
2023-01-05 00:00:00+00:00,1123.0,1124.500000,1107.449951,1114.5,40557,0.0,0.0,0.0
2023-01-06 00:00:00+00:00,1124.5,1154.000000,1124.500000,1145.0,38959,0.0,0.0,0.0

In [15]:
data.shape

(4, 8)

In [16]:
data.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2023-01-03 00:00:00+00:00,1073.0,1084.905029,1064.000000,1066.5,85016,0.0,0.0,0.0
2023-01-04 00:00:00+00:00,1094.0,1124.500000,1093.000000,1117.0,52037,0.0,0.0,0.0
2023-01-05 00:00:00+00:00,1123.0,1124.500000,1107.449951,1114.5,40557,0.0,0.0,0.0
2023-01-06 00:00:00+00:00,1124.5,1154.000000,1124.500000,1145.0,38959,0.0,0.0,0.0

In [17]:
# get list of data files previously downloaded
flist = glob.glob("data/week*.csv")
flist

['data/week1.csv',
 'data/week2.csv',
 'data/week3.csv',
 'data/week4.csv',
 'data/week5.csv']

In [18]:
number_of_files = len(flist)
if (number_of_files):
    print(str(number_of_files) + ' downloaded instrument data files found')
else:
    print('No downloaded instrument data files found')

5 downloaded instrument data files found

In [19]:
import pandas as pd


def describe_file(file_path):
    try:
        # run if file exists
        d0 = pd.read_csv(file_path)
    except FileNotFoundError:
        msg = "Sorry, the file " + file_path + " does not exist."
        print(msg)
    else:
        # write the summary/ description file with _description appended to file name
        path_to_write_to = file_path.split('.csv')[0] + '_description.csv'
        d0.describe().to_csv(path_to_write_to)
        msg = "Summary desicription written to: " + path_to_write_to
        print(msg)

file_path = 'data/week1.csv'
describe_file(file_path)

Summary desicription written to: data/week1_description.csv

In [20]:
import csv
with open('start_end_dates.csv', newline='') as csvfile:
    reader0 = csv.reader(csvfile, delimiter=',', quotechar='\'')
    for row in reader0:
        print(', '.join(row))

start_date, end_date
2023-01-02, 2023-01-07
2023-01-09, 2023-01-14
2023-01-16, 2023-01-21
2023-01-23, 2023-01-28
2023-01-30, 2023-02-04

In [21]:
week_start_dates = ['2023-01-02', '2023-01-09', '2023-01-16', '2023-01-23', '2023-01-30']
type(week_start_dates)

list

In [22]:
import csv

def read_start_end_dates(file_path):
    
    # Open the file in 'r' mode, not 'rb'
    csv_file = open(file_path,'r')
    start = []
    end = []

    # Read off and discard first line, to skip headers
    csv_file.readline()

    # Split columns while reading
    for a, b in csv.reader(csv_file, delimiter=','):
        # Append each variable to a separate list
        start.append(a)
        end.append(b)
    return start, end

In [23]:
start0, end0 = read_start_end_dates('start_end_dates.csv')

In [24]:
flist = glob.glob("data/*.csv")
for file in flist:
    describe_file(file)

Summary desicription written to: data/week1_description.csv
Summary desicription written to: data/week2_description.csv
Summary desicription written to: data/week3_description.csv
Summary desicription written to: data/week1_description_description.csv
Summary desicription written to: data/week4_description.csv
Summary desicription written to: data/week5_description.csv